* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 5px;
}


.multi-border > .box1 {
    width: 200px;
    height: 100px;
    margin: 50px auto;
    background: lightseagreen;
    box-shadow: 0 0 0 10px lightblue,
                0 0 0 20px lightgreen,
                0 0 0 30px lightpink;
}

.multi-border > .box2 {
    width: 200px;
    height: 100px;
    margin: 50px auto;
    background: lightgray;
    border: 10px solid lightgoldenrodyellow;
    outline: 10px solid lightpink;
}

.multi-border > .wrapper {
    display: flex;
    justify-content: center;
}

.multi-border > .wrapper >.outer {
    display: inline-block;
    margin: 50px 0;
    border: solid 6px #888;
}

.multi-border > .wrapper >.outer >.box3 {
    width: 200px;
    height: 100px;
    margin: 6px;
    color:#fff;
    background: #222;
}

.multi-border > .box4 {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 50px auto;
    background: lightskyblue;
    border: 10px solid lightcoral;
}

.multi-border > .box4::before {
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    content: '';
    border: 10px solid lightseagreen;
}

.multi-border > .box4::after {
    position: absolute;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
    content: '';
    border: 10px solid lightgrey;
}

.triangle-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.triangle-wrapper > div {
    width: 0;
    height: 0;
}

.triangle1 {
    border-top: 50px solid yellowgreen;
    border-right: 50px solid cadetblue;
    border-bottom: 50px solid deeppink;
    border-left: 50px solid bisque;
}

.top-triangle {
    border: 50px solid transparent;
    border-bottom: 50px solid lightskyblue;
}

.bottom-triangle {
    border: 50px solid transparent;
    border-top: 50px solid lightskyblue;
}

.left-triangle {
    border: 50px solid transparent;
    border-right: 50px solid lightskyblue;
}

.right-triangle {
    border: 50px solid transparent;
    border-left: 50px solid lightskyblue;
}

.triangle2 {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background: linear-gradient(45deg, lightskyblue, lightskyblue 50%, transparent 50%, transparent 100%);
}

.triangle3 {
    position: relative;
    width: 141px;
    height: 100px;
    margin: 50px auto;
    overflow: hidden;
}

.triangle3::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: lightseagreen;
    transform: rotate(45deg);
    transform-origin: left bottom;
}

/* https://www.html.cn/tool/css-clip-path/ */
.triangle4 {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: lightpink;
}

.card {
    position: relative;
    height: 500px;
}

.img_card {
    position: absolute;
    left: 50%;
    display: inline-block;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),
                0 6px 20px 0 rgb(0 0 0 / 19%);
    transform: translateX(-50%);
}

.img_card:hover {
    cursor: pointer;
    border-color: lightpink;
    box-shadow: 0 4px 8px 0 lightpink,
                0 6px 20px 0 lightpink;
    transition: border-color 0.5s, box-shadow 0.5s;
}

.img_card > .card-img {
    width: 240px;
    height: 300px;
    margin: 3px;
    background: url("img/person.png") no-repeat;
    background-size: cover;
}

.img_card > .card-body {
    padding: 20px;
    text-align: center;
}