* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.part1 {

}
.part1 > .father1 {
    height: 50px;
    border: 1px solid blue;
    text-align: center;
}
.part1 > .father2 {
    height: 50px;
    border: 1px solid blue;
    text-align: left;
}
.part1 > .father3 {
    height: 50px;
    border: 1px solid blue;
    text-align: right;
}
.part1 > .father4 {
    height: 50px;
    line-height: 50px;
    border: 1px solid blue;
}
.part1 > .father4 > .child4 {
    vertical-align: middle;
}
.part1 > .father5 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid blue;
}
.part1 > .father5 > .child5 {
    vertical-align: middle;
}

