* {
    margin: 0; padding:0; box-sizing: border-box;
}
html, body {
    height: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: yellow;
}
main {
    background: lightskyblue;
    margin-left: 220px;
    margin-top: 75px;
}
aside {
    background: lightcoral;
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    padding-left: 20px;
}
.vector-menu-content-list {
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-bottom: 20px;
}
.vector-menu-content-list > li {
    padding-right: 10px;
    display: inline;
}

header > nav {
    display: flex;
    justify-content: space-between;
}
.left-navigation > li{
    display: inline;
}

.right-navigation > li {
    display: inline;
}
.banner {
    border-bottom: 1px solid blue;
    display: flex;
    align-items: end;
}
.banner > .logo > img {
    width: 230px;
    height: 150px;
}
.banner > .intro {
    margin-left: auto;
}
.feature-block {
    border-bottom: 1px solid grey;
}
.feature-block img {
    width: 190px;
    height: 190px;
    margin-right: 20px;
}
.feature-block > .wrapper {
    display: flex;
}
.feature-block > p {
    display: flex;
    justify-content: end;
}
.dyk-block > img {
    height: 120px;
    width: 160px;
    float: right;
}
.dyk-block {
    border-bottom: 1px solid grey;
}
.good-block {
    border-bottom: 1px solid grey;
}
.featurepic-block img{
    height: 300px;
    width: 432px;
}
.other-links {
    background: lightgray;
}

article > section {
    border: 1px solid green;
}
.other-plans {
    background: lightcyan;
}
.join {
    border: 1px solid blue;
}
.remind {
    border: 1px solid yellow;
}
footer {
    background: lightgoldenrodyellow;
}