* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top {
    height: 100px;
    background: lightgreen;
}
.middle {
    flex: 1;
    border: 3px solid black;
}
.bottom {
    height: 100px;
    background: lightsalmon;
}
