/* stylelint-disable no-descending-specificity */
* {
    padding: 0;
    margin:0;
}

*::before, *::after {
    padding:0;
    margin:0;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: middle;
    border: none;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
}

input {
    vertical-align: middle;
    border: 1px solid #ccc;
}

label {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

/* 整体样式 */
.container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    line-height: 80px;
    color: white;
    text-align: center;
    background: #242424;
}

main > .left {
    position: absolute;
    top: 80px;
    bottom: 50px;
    left: 0;
    width: 200px;
    transition: width .5s;
}

main > .left-hidden {
    width: 70px;
    transition: width .5s;
}

main > .left li .svg-right {
    display: none;
}

main > .left li > a {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #979595;
}

main > .left li > a:hover {
    background: grey;
}

main > .left li > .selected {
    background: gray;
}

main > .left li:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #979595;
}

main > .left li:last-child:hover {
    cursor: pointer;
}

main > .left li > svg {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

main > .content {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 50px;
    left: 200px;
    overflow-y: auto;
    background: #f5f5f5;
    transition: left .5s;
}

main > .content-extension {
    left: 70px;
    transition: left .5s;
}

#carousel {
    position: relative;
    background: #e2dfdf;
}

#list-wrapper {
    position: relative;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

#list {
    position: absolute;
    z-index: 1;
    width: 4000px;
    height: 300px;
}

#list img {
    float: left;
    width: 800px;
    height: 300px;
}

#buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 140px;
    height: 10px;
    transform: translateX(-50%);
}

#buttons span {
    width: 10px;
    height: 10px;
    cursor: pointer;
    background: #ffe84d;
    border: 1px solid black;
    border-radius: 50%;
}

#buttons .on {
    background: green;
}

#carousel svg {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 50px;
    height:50px;
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

#carousel svg:hover {
    background: #e8e5e5;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

.read-more {
    margin-right: 20px;
    line-height: 30px;
    text-align: right;
}

.read-more > a {
    text-decoration: underline;
}

.read-more > a:hover {
    color: blue;
}

.scale-img {
    position: relative;
    display: none;
    width: 250px;
    height: 250px;
    margin: 10px 0;
    overflow: hidden;
}

.scale-img img {
    width: 250px;
    height: 250px;
    transition: .5s ease-out;
    transform: scale(1);
}

.scale-img:hover img {
    transform: scale(1.1);
}

main > .content .content-bottom, .more-content {
    max-width: 900px;
    margin: 50px auto 10px;
    border: 3px solid black;
}

main > .content .content-bottom > .image-wrapper, .more-imgs-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 480px;
    height: 30px;
    margin: 20px auto;
    line-height: 30px;
    border: 1px solid #ccc;
}

.pagination > span {
    padding: 0 10px;
    cursor: pointer;
}

.pagination > ul {
    display: flex;
    flex: 1;
}

.pagination > ul > li {
    flex: 1;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #ccc;
}

.pagination > ul > li.current {
    color: orange;
}

.pagination > ul > li:first-child {
    border-left: 1px solid #ccc;
}

.content > .back-to-top {
    position: fixed;
    right: 20px;
    bottom: 70px;
    display: none;
    background: #333;
}

.content > .back-to-top > .svg-to-top {
    width: 35px;
    height: 35px;
    color: #ccc;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ccc;
    background: rgb(47 47 47);
    box-shadow: 0 -3px 2px rgb(47 47 47);
}

#music-panel {
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 5;
    width: 800px;
    height: 300px;
    background: #1e1e1e;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 1px -1px 1px #1e1e1e;
    transform: translateX(-50%);
}

#music-panel > .music-header-wrapper {
    display: flex;
    padding: 10px 20px;
    background: #1e1e1e;
    border-bottom: 1px solid #0f0f0f;
    box-shadow: 0 2px 2px #242424;
}

#music-panel > .music-header-wrapper > .music-header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border-right: 1px solid #0f0f0f;
    box-shadow: 2px 0 2px #242424;
 }

#music-panel > .music-header-wrapper > .music-header-left .button-clear {
    display: flex;
    margin-right: 20px;
}

#music-panel > .music-header-wrapper > .music-header-left .button-clear svg {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    color: #ccc;
}

#music-panel > .music-header-wrapper > .music-header-left .button-clear:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

#music-panel > .music-header-wrapper > .music-header-left .button-clear:hover svg {
    color: white;
}

#music-panel > .music-header-wrapper > .music-header-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

#music-panel > .music-content {
    display: flex;
    height: 259px;
    overflow: hidden;
}

#music-panel > .music-content > .music-content-left {
    width: 50%;
    overflow: auto;
}

.music-content-left::-webkit-scrollbar, .music-content-right::-webkit-scrollbar {
     width: 8px;
     background: transparent;
 }

.music-content-left::-webkit-scrollbar-thumb, .music-content-right::-webkit-scrollbar-thumb {
     min-height: 10px;
     background: #404040;
     border-radius: 4px;
 }

.music-content-left::-webkit-scrollbar-track, .music-content-right::-webkit-scrollbar-track{
     background: #0b0b0b;
 }

#music-panel > .music-content > .music-content-left ul > li{
    display: flex;
    align-items: center;
    height: 28px;
    padding-left: 10px;
    overflow: hidden;
    font-size: 12px;
    line-height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.music-content-left ul > .song-selected svg {
    color: #ba0a0a;
}

.col-song-name {
    display: inline-block;
    width: 207px;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-song-time {
    float: right;
    width: 45px;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-song-singer {
    float: right;
    width: 80px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#music-panel > .music-content > .music-content-left ul > li:hover{
    color: white;
    background: #111613;
}

#music-panel > .music-content > .music-content-right {
    flex: 1;
    overflow: auto;
}

.music-content-right > #lyric li{
    min-height: 32px;
    font-size: 12px;
    line-height: 32px;
    color: #989898;
    text-align: center;
    word-wrap: break-word;
    transition: color 0.7s linear;
}

.music-content-right > #lyric .lyric-selected{
    font-size: 14px;
    color: white;
}


.player-bar-wrapper > .player-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 980px;
    padding: 5px 0;
    margin: 0 auto;
}

.player-bar-wrapper > .player-bar > .player-btns {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.player-bar-wrapper > .player-bar > .player-btns svg {
    width: 28px;
    height: 28px;
}

.player-bar-wrapper > .player-bar > .player-btns > .play-flag svg {
    width: 35px;
    height: 35px;
    padding: 0 8px;
}

#flag-play {
    display: none;
}

.player-bar-wrapper > .player-bar > .song-info {
    display: flex;
}

.player-bar-wrapper > .player-bar > .song-info img {
    width: 35px;
    height: 35px;
    border: 1px solid #000;
}

#bar-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#time-bar {
    display: flex;
    align-items: center;
}

#time-bar > .song-bar {
    margin-right: 10px;
}

.player-bar-wrapper > .player-bar > .song-info .song-bar {
    position: relative;
    width: 460px;
    height: 9px;
    background: #181818;
    border-radius: 5px;
    box-shadow: inset -1px -1px 1px #b8b8b8;
}

.song-bar > .progress {
    width: 0;
    height: 100%;
    background: #b9180f;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.song-bar > .progress > .progress-button {
    position: absolute;
    bottom: -15px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: #eaeaeb;
    border-radius: 50%;
    transform: translateY(-50%);
}

.song-bar > .progress > .progress-button::before {
    position: absolute;
    width: 10px;
    height: 10px;
    content: '';
    background: #b9180f;
    border-radius: 50px;
    transform: translate(50%, 50%);
}

.control-buttons {
    margin-left: 30px;
}

.control-buttons svg{
    width: 25px;
    height: 25px;
    padding-right: 13px;
}

#songs-list {
    padding-top: 3px;
    padding-right: 35px;
}

.svg-wrapper {
    position: relative;
    display: inline-block;
    background: #1f1e1e;
    border-radius: 60px;
}

.svg-wrapper > span {
    position: absolute;
    top: 7px;
    right: 20px;
}

.player-bar svg:hover {
    color: white;
}




.image-wrapper > .box {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px 0;
}

.image-wrapper > .box > .img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-wrapper > .box > .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.image-wrapper > .box .content {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 15px;
    overflow: hidden;
    color: white;
    background: #000;
    opacity: 0.7;
    transition: 0.5s;
}

.image-wrapper > .box:hover .content {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-wrapper > .box:hover .content h3 {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.image-wrapper > .box .content p {
    padding: 0;
    margin: 10px 0 0;
    line-height: 1.2em;
    text-align: justify;
    opacity: 0;
    transition: 0.5s;
}

.image-wrapper > .box:hover .content p {
    opacity: 1;
}